*{
    margin: 0px;
    padding: 0px;
}
.container{
    padding: 10px;
    margin: 10px 0;
    background-color: cyan;
    border: 1px solid darkslategray;
}
.bg-primary{
    background-color: darkslategray;
}
.text-succes{
    color: darkslategray;
}